/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
	line-height: 1.5;
    color: #020202;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------------- */
.wrap{
    width: 1296px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    box-sizing: border-box;
    width: 416px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    overflow: hidden;

    display: flex; 
    flex-direction: column; 
}
.img-container{
    height:312px;
    overflow: hidden;
}
.card:hover img{transform: scale(1.2,1.2);}
.card img{transition: all 0.4s ease-out;}

h2{
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
}
.desc{
    flex-grow: 1;

    padding: 20px 32px;
    gap: 12px;
    border-bottom: 1px solid #F2F2F2;
    border-bottom: 1px solid black;
}
.desc p{
    font-size: 14px;
    color: #525252;
    margin-top: 12px;
}
.desc2-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
}
.desc2{border-bottom: 1px solid #F2F2F2;}
.desc2 div:first-child{
    font-weight: 700;
}
.desc3 div:last-child{
    font-size: 24px;
}
